body::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

body::-webkit-scrollbar {
    width: 60px;
    background: blue;
}
body::-webkit-scrollbar-thumb {
    background: blue;
        border-radius: 20px;
}

.paragrafo {
    width: 20px;
}